<mat-card-header *ngIf="part">
    <mat-card-title-group>

        <mat-card-title>
            <mat-icon>{{part.icon}}</mat-icon>{{part.name}}
        </mat-card-title>

        <mat-card-subtitle *ngIf="part.limit > 0">Limit: {{part.limit}}</mat-card-subtitle>
      
    </mat-card-title-group>
</mat-card-header>

<mat-card-content *ngIf="part">
    <mat-card-subtitle *ngIf="part.conductive == true">Conductive</mat-card-subtitle>
    <mat-card-subtitle *ngIf="part.conductive == false">Non-conductive</mat-card-subtitle>
    <mat-card-subtitle *ngFor="let stat of part.stats | keyvalue">{{stat.key}}: {{stat.value}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="part.restrictions != 'None'">Restrictions: </mat-card-subtitle>
    <div *ngIf="part.restrictions != 'None'">{{part.restrictions}}</div>
    <mat-card-subtitle *ngIf="part.effects != 'None'">Effects: {{part.effects}}</mat-card-subtitle>
    <mat-card-subtitle>Description:</mat-card-subtitle>
    {{part.description}}
</mat-card-content>