.part-button{
    width: 36px;
    height: 36px;
    min-width: 38px !important;
    padding: 0px !important;
  }

.level-title{
    display: grid;
    align-items: center;
}

.game-grid{
  width: auto;
}

.play-area{
  width: 700px;
}

.rules-card{
  min-width: 300px;
  min-height: 200px;
}
.submission-button{
  /*height: 100px;*/
  /*padding: 0px;*/
}